@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Work+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    border: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Container-Section */

.container{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
}
/* Heading-Section */

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0% 0% 2% 8%;
    padding-top: 4%;
}
.nav-title{
    color:#131313;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    width: 302px;
    height: 53px;
}
.nav-menu{
    width: 477px;
    height: 53px;   
}
.menu-list{
    list-style: none;
    display: flex;
    gap:30px;
}
.menu-list a{
    text-decoration: none;
    color: #424242;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}


@media screen and (max-width: 480px) {
   
    .container{
        width: 517px;
        height: 725.213px; 
    }
    .nav-bar{
       display: block;
   }
   .nav-title{
       font-size: 35px;
       text-align: center;
       width: 302px;
       height: 53px;
       margin-top: 50px;
   }
   .menu-list{
       list-style: none;
       display:block;
       gap:30px;
       width: 150px;
   } 


}

/* New-Group-Section */

.new-group{
    justify-content: center;
    margin-top: 7%;
}
.group-title{
    margin: auto;
    width: 56%;
    text-align: center;
}
.group-title h3{
    font-weight: 700;
    font-size: 64px;
    line-height: 75.07px;
    color: #131313;
}
.group-title p{
    margin: 3% 0%;
    font-weight: 400;
    size: 16px;
    color: #727272;
}
.btn-primary{
    height: 50px;
    background-color:#FD6E0A;
    border: 1px solid whitesmoke;
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 5px;
    padding:0px 10px;
    font-weight: 400;
    width: 140px;
    color: white;
    font-weight:bold;
}

.group-image{
    margin: 3% 8% 2% 8%;
    padding-bottom: 3%;
    text-align: center;
    
}
.group-image img{
    width: 100%;
}


@media screen and (max-width: 480px) {

    .group-title{
        width: 80%;
    }
    .group-title h3{
        font-size: 35px;
        line-height: 40.07px;
    }
    .group-title p{
        size: 14px;
    }
    .group-image{
        margin: 6% 8% 2% 8%;
        padding-bottom: 5%;
    }
}


/* Features-Section */

.features{
    margin: 3% 8% 2% 8%;
    display: flex;
}
.feature-image{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 35px;
}
.feature-image img{
    box-shadow: 0px 1px 20px 5px rgb(0 0 0 / 10%);
   border-radius: 8px;
   width: 300px;
   height: 300px;
}

.feature-description{
    width: 40%;
    height: 600px;
    transform: translate(5%,40%);
}

.description-title p{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin: 4% 0%;
}
.feature-description button{
    margin-top: 25px;
}
.title-color-1{
    font-weight: 500;
    color: #727272;
}
.title-color-2{
    color: #FF900E;
}
.description{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

@media screen and (max-width: 480px) {

    .features{
        margin: 6% 8% 0% 20%;
        display: block;
    }
    .feature-image{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);   
    }
    
    .feature-description{
        width: 100%;
        margin-top: 50px;
        transform: translate(0);
    }

    .description-title p{
        margin: 0;
    }
    .feature-description button{
        margin-top: 25px;
    }
}

/* Version-Section */

.version{
    margin: 8% 8% 2% 8%;
    display: flex;
}
.version-1{
    width: 50%;
    padding-top: 2%;
}
.version-title{
}
.version-title h4{
 font-weight: 700;
 font-size: 45px;
 line-height: 52.79px;
 color: #131313;
 border-left: 5px solid #FD6E0A;
 padding-left:20px ;
}

.version-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 3%;
    margin-bottom: 15px;
}


.version-name{
    margin: 30px;
    margin-left: 0px;
    padding: 20px 20px;
    box-shadow: 0px 1px 20px 5px rgb(0 0 0 / 10%);
   border-radius: 8px;
}
.name-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    color: #131313;
    margin-bottom: 10px;
}
.name-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.version-image{
    width: 50%;
    margin-left: 5%;
}
.version-image img{
    width: 100%;
}

.version-experience{
    background-color: #FF900E;
    color: white;
    width: 342px;
    border-radius: 8px;
    position: relative;
    bottom: 11%;
    right: 8%;
}
.version-experience h1{
    padding: 30px 30px;
    font-size: 65px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
}
.version-experience span{
    font-size:25px;
    line-height: 40px;
}



@media screen and (max-width: 480px) {

    .version{
        margin: -35% 8% 2% 8%;
        display: block;
    }
    .version-1{
        width: 100%;
    }
    .version-image{
        width: 95%;
        margin-left: 0%;
    }
    .version-image img{
        width: 100%;
    }
    .version-experience{
        width: 182px;
        position: relative;
        bottom: 11%;
        right: 0%;
    }
    .version-experience h1{
        font-size: 35px;
        line-height: 30px;
    }
    .version-experience span{
        font-size:15px;
    }
}

/* Some-fact-Section */

.some-fact{
    margin: 8% 5% 2% 8%;
}
.fact-text h4{
    font-size: 45px;
    font-weight: 700;
    line-height: 52.79px;
}
.fact-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 542px;
    padding-top: 15px;
}
.fact-content{
    display: flex;
    margin: 5% 0% 0% 2%;
    justify-content: space-between;
    text-align: center;
}
.content{
    width: 241px;
    height: 200px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 50px;
    margin-right: 4%;
}
.content h2{
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    line-height: 52.79px
}
.content p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
}
.content:hover .rotate{
    transform: rotate(180deg);
}


/* Sponspor-Section */

.sponspor{
    margin: 8% 5% 2% 8%;
}
.sponspor-text{
 text-align: center;
}
.sponspor-text h4{
 font-weight: 700;
 font-size: 45px;
 line-height: 52.79px;
 color: #131313;
}
.sponspor-text p{
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 width: 620px;
 margin: auto;
 margin-top: 15px;
 color: #727272;
}

.sponspor-image{
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
}
.sponspor-image img{
    filter: grayscale(100%);
}




@media screen and (max-width: 480px) {

    .fact-text h4{
        font-size: 35px;
    }
    .fact-content{
        display: block;
        margin: 10% 0% 2% 10%;
        
    }
    .fact-text p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        width: 90%;
        padding-top: 15px;
    }
    .content{
        margin-top: 4%;
        margin-right: 0%;
        width: 240px;
        height: 180px;
    }
    
    .sponspor{
        margin: 8% 4% 2% 8%;
    }
    .sponspor-text{
     text-align: center;
    }
    .sponspor-text h4{
     font-weight: 700;
     font-size: 45px;
     line-height: 52.79px;
     color: #131313;
    }
    .sponspor-text p{
     width: 90%;
    }
    
    .sponspor-image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin:5% 8%;
        column-gap: 30px;
        row-gap: 30px;

    }
    .sponspor-image img{
        filter: grayscale(100%);
        width: 100px;
        height: 50px;
    }
    
}

/* new-section */

.new-section{
    margin: 8% ;
    text-align: center;
    font-size: 25px;
}
.new-section h5{
   line-height: 20px;
 }


 /* Footer-Section */
 
.page-end{
 background: #FFF4E7;
border-radius: 8px;
height: 100px;
margin: 3% 8% 2% 8%;
text-align: center;
}
.page-end p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23.46px;
    color: #424242;
    padding-top: 3%;
}

@media screen and (max-width: 480px) {

    .page-end{
        background: #FFF4E7;
       border-radius: 8px;
       height: 100px;
       margin: 3% 0% 2% 2%;
       text-align: center;
       }
       .page-end p{
           font-weight: 400;
           font-size: 20px;
           line-height: 23.46px;
           color: #424242;
           padding-top: 3%;
       }
    
}